/* https://colorhunt.co/palette/1b3c53456882d2c1b6f9f3ef*/

ul{
    display:flex;
    margin:0px;
    height:50px;
    background-color: transparent;
}
li{
    font-size: 20px;
    cursor: pointer;
    display:inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    margin:10px;
    margin-right:25px;
    height:min-content;
    
}
a{
    text-decoration: none;
     color:rgb(32, 65, 91);
}

body{
    margin:0px;
    padding:0px;
}
a:hover{
    color:rgb(2, 12, 49);
    transition: 0.3s;
    text-shadow: 1px 1px 2px rgba(11, 12, 15, 0.915);
}
#underline{
    margin-left:-20px;
    margin-right:-20px;
    padding:0px;
    background-color: rgba(246, 247, 247, 0);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.267);
}
a:hover+#underline{
    height:3px;
    margin-left:20px;
    background-color:rgb(224, 244, 171);
    margin-right:20px;
    padding:0px;
    transition: 0.3s;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.267);
}   
header{
    background-color:rgba(185, 238, 247, 0.727);
    position: fixed;
    width: 100%;
    z-index:1;
}

