#cartsection{
    padding:40px;
    padding-top:80px;
}
#tab{
    border-top: 3px;
    border-left: 0px;
    border-right: 0px;
    border-color: black;
    border-style: solid;
    height:100px;
    width:800px;
    text-align: center;
    font-size: 20px;
}
#tab th{
    border-spacing: 10px;
}
table img{
    zoom:10%;
}
td{
    border-top:2px dashed black;
}
button{
    margin:10px;
    border-radius: 15px;
    height:30px;
    width:100px;
    background-color: rgb(14, 230, 158);
    transition: 0.3s;
}
button:hover{
    transform:scale(1.1);
    box-shadow: 2px 1px 3px 1px;
}