#cartsection{
    padding:40px;
    padding-top:80px;
}
#tab{
    border-top: 3px;
    border-left: 0px;
    border-right: 0px;
    border-color: black;
    border-style: solid;
    height:100px;
    width:800px;
    text-align: center;
    font-size: 20px;
}
#tab th{
    border-spacing: 10px;
}
table img{
    zoom:10%;
}
td{
    border-top:2px dashed black;
}
